body {
    background-image: url("https://th.bing.com/th/id/OIP.I1fWi3b9aOh4rYPLG3W0NgHaHN?w=184&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7");
}

.container {
    background-color: #E0FFFF;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.reset {
    width: 70px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 10px;
    border-color: cadetblue;
}

input {
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
    width: 90px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 20px;
    border-color: cadetblue;
}

p {
    text-align: center;
    font-size: 18px;
    color: goldenrod;
}

.text {
    text-align: center;
    color: black;
    font-size: 18px;
    text-shadow: 2px 2px cadetblue;
}

.print {
    color: dodgerblue;
}
