body {
    background-image: url("https://th.bing.com/th/id/OIP.I1fWi3b9aOh4rYPLG3W0NgHaHN?w=184&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7");
}

.container {
    background-color: #E0FFFF;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.reset {
    width: 70px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 10px;
    border-color: cadetblue;
}

input {
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
    width: 90px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 20px;
    border-color: cadetblue;
}

p {
    text-align: center;
    font-size: 18px;
    color: goldenrod;
}

.text {
    text-align: center;
    color: black;
    font-size: 18px;
    text-shadow: 2px 2px cadetblue;
}

.print {
    color: dodgerblue;
}
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}